@import url(https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css);
@import url(https://discordstyles.github.io/Addons/bottomhsl.css);
[class^=folderIconWrapper] {
  transform: rotate(-90deg);
}

[class^=closedFolderIconWrapper] [class^=icon],
[class^=expandedFolderIconWrapper] svg {
  transform: rotate(90deg);
}

--home-icon: url(https://clearvision.github.io/icons/discord.svg);
--home-position: center;
--home-size: 40px;

.bg__12180{
    background:var(--background-color, #0066cc)
    var(--background-image, url(https://saltssaumure.github.io/xp-discord-theme/img/bliss.avif))
    center/cover
}
